@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(7, 90, 129);
    --primary-color-darker: rgb(5, 36, 51);
}


* {
    box-sizing: border-box;
    outline: 0;
   
}

body{
    margin: 0;
    padding: 0;
    background: #2f4f4f	;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: gray;
    padding: 20px;
    border-radius: 15px;
    

}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    background-color: gray;
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus {
    outline: 1px solid var(--primary-color);

}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}
form button:active {
    background: var(--primary-color-darker);
}
.btn-tarefa {
    background-color: grey; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado do texto */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas */
}

.btn-tarefa img {
    height: 20px; /* Altura da imagem */
    vertical-align: middle; /* Alinhamento vertical da imagem */
    margin-right: 5px; /* Espaço entre a imagem e o texto */
}

/* Adicionando efeito hover */
.btn-tarefa:hover {
    background-color: darkgrey; /* Cor de fundo ao passar o mouse */
}
